@CHARSET "UTF-8";
*{
	padding: 0;
	margin: 0;
}
.pagebox{
	width: 100%;
}/*page property_start*/.pagebox,#-remove--flag{}/*page property_end*//*page property_start*/body,#-remove--flag{}/*page property_end*/
@media only screen and (max-width: 1024px) and (min-width: 769px){
}
@media only screen and (max-width: 1024px) and (min-width: 769px){
}
@media only screen and (max-width: 1024px) and (min-width: 769px){
}
@media only screen and (max-width: 1024px) and (min-width: 769px){
}
@media only screen and (max-width: 1024px) and (min-width: 769px){
}
#w_grid-1560175141422 > div > .p_gridbox{
background-image:url("../img/gywm.jpg")/*tpa=http://1907085021.pool3-site.make.yun300.cn/img/gywm.jpg*/;
}
#w_grid-1560175141422 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_grid-1560175141422 >div{
animation-fill-mode:both;
}
#w_grid-1560175141422 > div > .p_gridbox > .p_gridCell:nth-child(n+1){
margin-left:0px;
clear:left;
}
/*w_grid-1560175141422*/@media only screen and (max-width: 768px){
#w_grid-1560175141422> div > .p_gridbox > .p_gridCell{
  margin-bottom:0rem;
  margin-top:0rem;
  margin-left:0;
}
#w_grid-1560175141422> div > .p_gridbox > .p_gridCell:nth-child(1n+0){
  width:100%;
  margin-left:0;
  margin-right:0;
  clear:none;
}
#w_grid-1560175141422> div > .p_gridbox > .p_gridCell:nth-child(1n){
  margin-right:0;
}
}
/*w_grid-1560175141422*/@media only screen and (min-width: 769px){
#w_grid-1560175141422> div > .p_gridbox > .p_gridCell{
  margin-bottom:0rem;
  margin-top:0rem;
  margin-left:0px;
}
#w_grid-1560175141422> div > .p_gridbox > .p_gridCell:nth-child(1n+0){
  width:100%;
  margin-left:0px;
  margin-right:0px;
  clear:none;
}
#w_grid-1560175141422> div > .p_gridbox > .p_gridCell:nth-child(1n){
  margin-right:0px;
}
}
/*w_grid-1560175141422*/@media only screen and (max-width: 1024px) and (min-width: 769px){
}
/*
20200509修改
*/
/*#w_grid-1560175141422 .p_gridbox{*/
/*background-repeat:no-repeat;*/
/*background-position:top center;*/
/*background-attachment:fixed;*/
/*}*/

#w_grid-1560175141422 .p_gridbox{
  background-repeat:no-repeat;
  background-position:center;
}
#w_grid-1560175141592 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_grid-1560175141592 >div{
animation-fill-mode:both;
}
#w_grid-1560175141592 > div > .p_gridbox > .p_gridCell:nth-child(n+1){
margin-left:0px;
clear:left;
}
/*w_grid-1560175141592*/
/*w_grid-1560175141592*/@media only screen and (min-width: 769px){
#w_grid-1560175141592> div > .p_gridbox > .p_gridCell{
  margin-bottom:0rem;
  margin-top:0rem;
  margin-left:0;
}
#w_grid-1560175141592> div > .p_gridbox > .p_gridCell:nth-child(1n+0){
  width:100%;
  margin-left:0;
  margin-right:0;
  clear:none;
}
#w_grid-1560175141592> div > .p_gridbox > .p_gridCell:nth-child(1n){
  margin-right:0;
}
}
/*w_grid-1560175141592*/@media only screen and (max-width: 1024px) and (min-width: 769px){
}
#w_grid-1566287551266 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_grid-1566287551266 >div{
animation-fill-mode:both;
}
#w_grid-1566287551266 > div > .p_gridbox > .p_gridCell:nth-child(n+1){
margin-left:0px;
clear:left;
}
/*w_grid-1566287551266*/@media only screen and (max-width: 768px){
#w_grid-1566287551266> div > .p_gridbox > .p_gridCell{
  margin-bottom:2rem;
  margin-top:2rem;
  margin-left:0;
}
#w_grid-1566287551266> div > .p_gridbox > .p_gridCell:nth-child(1n+0){
  width:100%;
  margin-left:0;
  margin-right:0;
  clear:none;
}
#w_grid-1566287551266> div > .p_gridbox > .p_gridCell:nth-child(1n){
  margin-right:0;
}
}
/*w_grid-1566287551266*/@media only screen and (min-width: 769px){
#w_grid-1566287551266> div > .p_gridbox > .p_gridCell{
  margin-bottom:2rem;
  margin-top:2rem;
  margin-left:0;
}
#w_grid-1566287551266> div > .p_gridbox > .p_gridCell:nth-child(1n+0){
  width:100%;
  margin-left:0;
  margin-right:0;
  clear:none;
}
#w_grid-1566287551266> div > .p_gridbox > .p_gridCell:nth-child(1n){
  margin-right:0;
}
}
/*w_grid-1566287551266*/@media only screen and (max-width: 1024px) and (min-width: 769px){
}
#w_grid-1566287551280 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_grid-1566287551280 >div{
animation-fill-mode:both;
}
#w_grid-1566287551280 > div > .p_gridbox > .p_gridCell:nth-child(n+1){
margin-left:0px;
clear:left;
}
/*w_grid-1566287551280*/
/*w_grid-1566287551280*/@media only screen and (min-width: 769px){
#w_grid-1566287551280> div > .p_gridbox > .p_gridCell{
  margin-bottom:0rem;
  margin-top:0rem;
  margin-left:2%;
}
#w_grid-1566287551280> div > .p_gridbox > .p_gridCell:nth-child(2n+0){
  width:62.2692%;
  margin-left:2%;
  margin-right:0px;
  clear:none;
}
#w_grid-1566287551280> div > .p_gridbox > .p_gridCell:nth-child(2n+1){
  margin-left:0px;
  clear:left;
  margin-right:0px;
/*  width:35.7308%; */
}
#w_grid-1566287551280> div > .p_gridbox > .p_gridCell:nth-child(2n){
  margin-right:0px;
}
}
/*w_grid-1566287551280*/@media only screen and (max-width: 1024px) and (min-width: 769px){
#w_grid-1566287551280> div > .p_gridbox > .p_gridCell{
  margin-bottom:0rem;
  margin-top:0rem;
  margin-left:0;
}
#w_grid-1566287551280> div > .p_gridbox > .p_gridCell:nth-child(1n+0){
  width:100%;
  margin-left:0;
  margin-right:0;
  clear:none;
}
#w_grid-1566287551280> div > .p_gridbox > .p_gridCell:nth-child(1n){
  margin-right:0;
}
}
#w_grid-1566287551293 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_grid-1566287551293 >div{
animation-fill-mode:both;
}
#w_grid-1566287551293 > div > .p_gridbox > .p_gridCell:nth-child(2n+1){
margin-left:0px;
clear:left;
}
/*w_grid-1566287551293*/
/*w_grid-1566287551293*/@media only screen and (min-width: 769px){
#w_grid-1566287551293> div > .p_gridbox > .p_gridCell{
  margin-bottom:0rem;
  margin-top:0rem;
  /* margin-left:3%; */
}
#w_grid-1566287551293> div > .p_gridbox > .p_gridCell:nth-child(2n+0){
  width:31.3%;
  margin-left:3%;
  margin-right:3%;
  clear:none;
}
#w_grid-1566287551293> div > .p_gridbox > .p_gridCell:nth-child(2n+1){
  margin-left:0px;
  clear:none;
  margin-right:0px;
  width:31.3%;
}
/* #w_grid-1566287551293> div > .p_gridbox > .p_gridCell:nth-child(2n){
  margin-right:0px;
} */
}
/*w_grid-1566287551293*/@media only screen and (max-width: 1024px) and (min-width: 769px){
#w_grid-1566287551293> div > .p_gridbox > .p_gridCell{
  margin-bottom:0rem;
  margin-top:0rem;
  margin-left:2%;
}
#w_grid-1566287551293> div > .p_gridbox > .p_gridCell:nth-child(2n+0){
  width:49%;
  margin-left:2%;
  margin-right:0;
  clear:none;
}
#w_grid-1566287551293> div > .p_gridbox > .p_gridCell:nth-child(2n+1){
  margin-left:0;
  clear:left;
  margin-right:0;
  width:49%;
}
#w_grid-1566287551293> div > .p_gridbox > .p_gridCell:nth-child(2n){
  margin-right:0;
}
}
#w_grid-1566287551298 > div > .p_gridbox > .p_gridCell:nth-child(n+1){
margin-left:0;
clear:left;
}
#w_grid-1566287551298 > div > .p_gridbox.p_gridbox1{
background-color:#349ae2;
transition:all 0.5s ease 0s;
}
#w_grid-1566287551298 > div > .p_gridbox{
background-color:#333;
transition:all 0.5s ease 0s;
}
#w_grid-1566287551298 > div > .p_gridbox:hover{
background-color:#fff;
}
#w_grid-1566287551298 > div > .p_gridbox:hover span{
color:#000 !important;
}
#w_grid-1566287551298 > div > .p_gridbox:hover > .p_gridCell:nth-child(n+1) > .w_fline-001  > .w_fline{
width:100%;
}
/*w_grid-1566287551298*/
#w_fline-1566287551310 .p_FLine{
border-top-color:#ff781b;
border-top-width:2px;
}
#w_fline-1566287551310 .w_fline{
transition:0.5s;
position:relative;
top:0px;
}
#w_fline-1566287551310 .w_fline .p_FLine{
border-top-style:solid;
}
#w_fline-1566287551310 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_fline-1566287551310 >div{
animation-fill-mode:both;
}
/*w_fline-1566287551310*/@media only screen and (min-width: 769px){
#w_fline-1566287551310 .w_fline{
  width:12%;
  margin: 0 auto;
}
}
#w_grid-1566287551314 > div > .p_gridbox > .p_gridCell:nth-child(n+1){
margin-left:0;
clear:left;
}
/* #w_grid-1566287551314 span{
display:-webkit-box;
overflow:hidden;
-webkit-line-clamp:3;
-webkit-box-orient:vertical;
text-overflow:ellipsis;
} */
/*w_grid-1566287551314*/
/*w_grid-1566287551314*/
/*w_grid-1566287551314*/@media only screen and (max-width: 1024px) and (min-width: 769px){
}
#w_fbtn-1566287551319 .p_CommonBtn{
background-color:rgba(255, 102, 0, 0);
transition:all 0.5s ease 0s;
height:28px;
color:#ff781b;
border-width:0px;
padding-right:0px;
padding-left:0px;
border-bottom:1px solid #ff781b;
}
#w_fbtn-1566287551319 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_fbtn-1566287551319 >div{
animation-fill-mode:both;
}
#w_grid-1566287551302 > div > .p_gridbox > .p_gridCell:nth-child(n+1){
margin-left:0;
clear:left;
}
#w_grid-1566287551302 > div > .p_gridbox{
background-color:#ff781b;
transition:all 0.5s ease 0s;
}
#w_grid-1566287551302 > div > .p_gridbox:hover{
background-color:#fff;
}
#w_grid-1566287551302 > div > .p_gridbox:hover span{
color:#000 !important;
}
#w_grid-1566287551302 > div > .p_gridbox:hover > .p_gridCell:nth-child(n+1) > .w_fline-001  > .w_fline{
width:100%;
}
#w_grid-1566287551302 > div > .p_gridbox:hover > .p_gridCell:nth-child(n+1) > .w_fline-001  > .w_fline >.p_FLine{
border-top-color:#ff781b;
}
#w_grid-1566287551302 > div > .p_gridbox:hover > .p_gridCell:nth-child(n+1) > .w_fbtn-001  > .w_fbtn >.p_link > .p_CommonBtn{
color:#ff781b;
border-bottom:1px solid #ff781b;
}
/*w_grid-1566287551302*/
#w_fline-1566287551329 .p_FLine{
border-top-color:#fff;
border-top-width:2px;
}
#w_fline-1566287551329 .w_fline{
transition:0.5s;
position:relative;
top:0px;
}
#w_fline-1566287551329 .w_fline .p_FLine{
border-top-style:solid;
}
#w_fline-1566287551329 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_fline-1566287551329 >div{
animation-fill-mode:both;
}
/*w_fline-1566287551329*/@media only screen and (min-width: 769px){
#w_fline-1566287551329 .w_fline{
  width:12%;
  margin: 0 auto;
}
}
#w_grid-1566287551333 > div > .p_gridbox > .p_gridCell:nth-child(n+1){
margin-left:0;
clear:left;
}
/* #w_grid-1566287551333 span{
display:-webkit-box;
overflow:hidden;
-webkit-line-clamp:3;
-webkit-box-orient:vertical;
text-overflow:ellipsis;
} */
/*w_grid-1566287551333*/
/*w_grid-1566287551333*/
/*w_grid-1566287551333*/@media only screen and (max-width: 1024px) and (min-width: 769px){
}
#w_fbtn-1566287551338 .p_CommonBtn{
background-color:rgba(255, 102, 0, 0);
transition:all 0.5s ease 0s;
height:28px;
color:#333;
border-width:0px;
padding-right:0px;
padding-left:0px;
border-bottom:1px solid #333;
}
#w_fbtn-1566287551338 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_fbtn-1566287551338 >div{
animation-fill-mode:both;
}
#w_grid-1563534982845 > div > .p_gridbox > .p_gridCell:nth-child(n+1){
margin-left:0;
clear:left;
}
/*w_grid-1563534982845*/
/*w_grid-1563534982845*/
/*w_grid-1563534982845*/@media only screen and (max-width: 1024px) and (min-width: 769px){
}
#w_grid-1563535090290 > div > .p_gridbox{
background-color:rgba(245, 245, 245, 1);
}
#w_grid-1563535090290 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_grid-1563535090290 >div{
animation-fill-mode:both;
}
#w_grid-1563535090290 > div > .p_gridbox > .p_gridCell:nth-child(n+1){
margin-left:0px;
clear:left;
}
/*w_grid-1563535090290*/
/*w_grid-1563535090290*/@media only screen and (min-width: 769px){
#w_grid-1563535090290> div > .p_gridbox > .p_gridCell{
  margin-bottom:0rem;
  margin-top:0rem;
  margin-left:0px;
}
#w_grid-1563535090290> div > .p_gridbox > .p_gridCell:nth-child(1n+0){
  width:100%;
  margin-left:0px;
  margin-right:0px;
  clear:none;
}
#w_grid-1563535090290> div > .p_gridbox > .p_gridCell:nth-child(1n){
  margin-right:0px;
}
}
/*w_grid-1563535090290*/@media only screen and (max-width: 1024px) and (min-width: 769px){
}
#w_grid-1566287128009 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_grid-1566287128009 >div{
animation-fill-mode:both;
}
#w_grid-1566287128009 > div > .p_gridbox > .p_gridCell:nth-child(2n+1){
margin-left:0px;
clear:left;
}
/*w_grid-1566287128009*/@media only screen and (max-width: 768px){
#w_grid-1566287128009> div > .p_gridbox > .p_gridCell{
  margin-bottom:0rem;
  margin-top:0rem;
  margin-left:1.3%;
}
#w_grid-1566287128009> div > .p_gridbox > .p_gridCell:nth-child(2n+0){
  width:49.35%;
  margin-left:1.3%;
  margin-right:0;
  clear:none;
}
#w_grid-1566287128009> div > .p_gridbox > .p_gridCell:nth-child(2n+1){
  margin-left:0;
  clear:left;
  margin-right:0;
  width:49.35%;
}
#w_grid-1566287128009> div > .p_gridbox > .p_gridCell:nth-child(2n){
  margin-right:0;
}
}
/*w_grid-1566287128009*/@media only screen and (min-width: 769px){
#w_grid-1566287128009> div > .p_gridbox > .p_gridCell{
  margin-bottom:0.6rem;
  margin-top:0.6rem;
  margin-left:1%;
}
#w_grid-1566287128009> div > .p_gridbox > .p_gridCell:nth-child(4n+0){
  width:24.25%;
  margin-left:1%;
  margin-right:0px;
  clear:none;
}
#w_grid-1566287128009> div > .p_gridbox > .p_gridCell:nth-child(4n+1){
  margin-left:0px;
  clear:left;
  margin-right:0px;
  width:24.25%;
}
#w_grid-1566287128009> div > .p_gridbox > .p_gridCell:nth-child(4n+2){
  width:24.25%;
  margin-left:1%;
  margin-right:0px;
  clear:none;
}
#w_grid-1566287128009> div > .p_gridbox > .p_gridCell:nth-child(4n+3){
  width:24.25%;
  margin-left:1%;
  margin-right:0px;
  clear:none;
}
#w_grid-1566287128009> div > .p_gridbox > .p_gridCell:nth-child(4n){
  margin-right:0px;
}
}
/*w_grid-1566287128009*/@media only screen and (max-width: 1024px) and (min-width: 769px){
}
#w_fimg-1566287128015 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_fimg-1566287128015 >div{
animation-fill-mode:both;
}
#w_fimg-1566287128020 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_fimg-1566287128020 >div{
animation-fill-mode:both;
}
#w_common_text-1566287128045 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_common_text-1566287128045 >div{
animation-fill-mode:both;
}
#w_fimg-1566287128024 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_fimg-1566287128024 >div{
animation-fill-mode:both;
}
#w_fimg-1566287128027 .p_MatteIcon .iconfont:before{
content:'\e602';
}
#w_fimg-1566287128027 >div{
animation-fill-mode:both;
}
#w_grid-1560175141422{
  width:100%;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:230px;

  margin-top:0px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_grid-1560175141592{
  width:100%;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:0px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_grid-1566287551266{
  width:100%;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:0px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_common_text-1566287551276{
  width:auto;

  max-width:966px;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:0px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:20px;

  padding-right:20px;

  padding-bottom:0px;
}
#w_grid-1566287551280{
  width:100%;

  max-width:1240px;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:30px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:20px;

  padding-right:20px;

  padding-bottom:0px;
}
#w_fvideo-1566287551287{
  width:auto;

  max-width:650px;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:20px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:20px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_grid-1566287551293{
  width:100%;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:0px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_grid-1566287551298{
  width:100%;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:20px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:20px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_common_text-1566287551307{
  width:auto;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:7%;

  margin-left:0px;

  margin-right:0px;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_fline-1566287551310{
  width:100%;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:3px;

  margin-top:5%;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:5%;

  padding-top:0px;

  padding-left:30px;

  padding-right:30px;

  padding-bottom:0px;
}
#w_grid-1566287551314{
  width:100%;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:0px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:12px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_common_text-1566287551323{
  width:auto;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:0px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:30px;

  padding-right:30px;

  padding-bottom:0px;
}
#w_fbtn-1566287551319{
  width:100%;

  max-width:84px;

  min-width:0px;

  height:auto;

  max-height:0px;

  min-height:28px;

  margin-top:12px;

  margin-left:auto;

  margin-right:30px;

  margin-bottom:7%;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_grid-1566287551302{
  width:100%;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:20px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:20px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_common_text-1566287551326{
  width:auto;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:7%;

  margin-left:0px;

  margin-right:0px;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_fline-1566287551329{
  width:100%;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:3px;

  margin-top:5%;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:5%;

  padding-top:0px;

  padding-left:30px;

  padding-right:30px;

  padding-bottom:0px;
}
#w_grid-1566287551333{
  width:100%;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:0px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:12px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_common_text-1566287551341{
  width:auto;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:0px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:30px;

  padding-right:30px;

  padding-bottom:0px;
}
#w_fbtn-1566287551338{
  width:100%;

  max-width:84px;

  min-width:0px;

  height:100%;

  max-height:0px;

  min-height:28px;

  margin-top:12px;

  margin-left:auto;

  margin-right:30px;

  margin-bottom:7%;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_grid-1563534982845{
  width:100%;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:192px;

  margin-top:0px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_grid-1563535090290{
  width:auto;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:2%;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_grid-1566287128009{
  width:auto;

  max-width:1240px;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:0px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:20px;

  padding-right:20px;

  padding-bottom:0px;
}
#w_fimg-1566287128015{
  width:auto;

  max-width:250px;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:20px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_common_text-1566287128031{
  width:auto;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:3%;

  margin-left:0px;

  margin-right:0px;

  margin-bottom:10px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_common_text-1566287128042{
  width:auto;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:19px;

  margin-top:0px;

  margin-left:0px;

  margin-right:0px;

  margin-bottom:10px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_fimg-1566287128020{
  width:100%;

  max-width:250px;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:20px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_common_text-1566287128034{
  width:auto;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:10px;

  margin-left:0px;

  margin-right:0px;

  margin-bottom:10px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_common_text-1566287128045{
  width:auto;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:19px;

  margin-top:0px;

  margin-left:0px;

  margin-right:0px;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_fimg-1566287128024{
  width:100%;

  max-width:250px;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:20px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_common_text-1566287128036{
  width:auto;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:10px;

  margin-left:0px;

  margin-right:0px;

  margin-bottom:10px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_common_text-1566287128048{
  width:auto;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:19px;

  margin-top:0px;

  margin-left:0px;

  margin-right:0px;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_fimg-1566287128027{
  width:auto;

  max-width:250px;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:20px;

  margin-left:auto;

  margin-right:auto;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_common_text-1566287128039{
  width:auto;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:0px;

  margin-top:10px;

  margin-left:0px;

  margin-right:0px;

  margin-bottom:10px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
#w_common_text-1566287128050{
  width:auto;

  max-width:none;

  min-width:0px;

  height:auto;

  max-height:none;

  min-height:19px;

  margin-top:0px;

  margin-left:0px;

  margin-right:0px;

  margin-bottom:0px;

  padding-top:0px;

  padding-left:0px;

  padding-right:0px;

  padding-bottom:0px;
}
.w_grid-000 > .w_grid.signal.j-min-height{min-height: 280px;}
.j-padding-left{padding: 30px 0;}
